{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "arrowFunctions": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true,
      "restParams": true,
      "spread": true,
      "templateStrings": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "react-app"
  ],
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "arrow-spacing": "warn",
    "block-scoped-var": "error",
    "block-spacing": "warn",
    "camelcase": "warn",
    "comma-dangle": [
      "warn",
      "only-multiline"
    ],
    "default-case": "warn",
    "new-cap": "off",
    "eqeqeq": "warn",
    "jsx-a11y/no-autofocus": 0,
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "error",
    "no-else-return": "warn",
    "no-extra-boolean-cast": "error",
    "no-extra-bind": "error",
    "no-invalid-regexp": "error",
    "no-return-await": "error",
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "no-useless-computed-key": "warn",
    "no-useless-concat": "warn",
    "no-useless-escape": "warn",
    "no-unreachable": "warn",
    "no-useless-rename": "warn",
    "no-useless-return": "warn",
    "no-unused-vars": "error",
    "prefer-destructuring": "warn",
    "prefer-spread": "warn",
    "prefer-template": "warn",
    "react/display-name": 0,
    "react/forbid-foreign-prop-types": 0,
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-no-duplicate-props": "error",
    "react/no-access-state-in-setstate": 2,
    "react/no-array-index-key": 1,
    "react/no-deprecated": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/react-in-jsx-scope":"off",
    "jsx-a11y/no-static-element-interactions":"off",
    "jsx-a11y/click-events-have-key-events":"off",
    "react/no-direct-mutation-state": [
      "error",
      "always"
    ],
    "react/no-redundant-should-component-update": 2,
    "react/no-this-in-sfc": 2,
    "react/no-typos": 2,
    "react/no-unknown-property": 1,
    "react/no-unused-prop-types": 1,
    "react/no-unused-state": 2,
    "react/prefer-es6-class": [
      "error",
      "always"
    ],
    "react/require-render-return": 2,
    "semi": [
      "warn",
      "always"
    ],
    "strict": [
      "error",
      "global"
    ],
    "wrap-iife": "warn"
  },
  "globals": {}
}